*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

#nav-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#nav-mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
}

#nav-end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.hero{
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url(./images/bg.webp);
    width: 100%;
    height: 535px;
    background-size: contain;
    background-position: right;
}

.hero-content{
     margin-left: 50px;
     margin-top: 10px;
}
.hero h2{
     font-size: 40px;
     margin-bottom: 10px;
}

.hero button{
    margin-top: 30px;
     font-size: 18px;
     padding: 10px 20px;
}

#section1{
    padding: 30px 40px;
}

#icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 30px;
    margin-top: 30px;
}

#section1-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 80px;
}

.description{
    text-align: center;
}

#section1 img{
    height: 50px;
    margin-bottom: 10px;
     
}

#cards{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    
    
}

.section1-card{
    /* height: 400px; */
    width: 300px;
    border: 1px solid rgb(249, 242, 229);
    
    
    
}

.section1-card-img{
    height: 170px;
    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Content-Card-Surface-Pro-AI-11Ed-Sapphire-MC001-1?wid=517&hei=293&fit=crop);
    background-size: cover;
    background-position: center;
   
}

.section1-card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
    padding: 30px 25px;
}

.section1-card-content button{
    padding: 10px 20px;
    background-color: #005DA5;
    border: none;
    border-radius: 2px;
}

#footer{
    background-color: #F2F2F2;
    padding: 40px 30px;
}

#footer-tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

#footer-tab h3{
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
}

#footer-tab p {
    font-size: 12px;
    font-weight: 100;
    padding: 8px;
    
}

#footer-tab p a{
    text-decoration: none;
}

 

